<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Tracks
    </h1>
    <ol class="breadcrumb">
      <li class="active">Tracks</li>
    </ol>
  </section>

  <section class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="box">
          <div class="box-header with-border">
            <h3 class="box-title">List Track</h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <app-grid-view [data]="data" [columns]="columns" [(option)]="option" (refresh)="displayData()" (view)="view($event)"
              (edit)="edit($event)" (delete)="delete($event)" [actions]="{ view: false, edit: false, delete: false, select: false, maps: true }"></app-grid-view>
          </div>
          <!-- /.box-body -->
          <div class="box-footer clearfix">
            <!-- <button class="btn btn-sm btn-primary" (click)="addNew()">
              <i class="glyphicon glyphicon-plus"></i>
              Add New
            </button> -->
          </div>
        </div>
        <!-- /.box -->
      </div>
    </div>
  </section>

</div>
