<div class="login-box">
  <div class="login-logo">
    <a href="#"><b>PP</b>SU</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Sign In</p>
    <div class="alert alert-danger alert-dismissible" *ngIf="message !== ''"> 
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>{{message}}</strong>
    </div>
    <form #form1="ngForm">
      <div class="form-group has-feedback">
        <input #nusername="ngModel" name="username" type="text" class="form-control" placeholder="Username" [(ngModel)]="credentials.username"
          required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input #npassword="ngModel" name="password" type="password" class="form-control" placeholder="Password"
          [(ngModel)]="credentials.password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button type="button" class="btn btn-warning btn-block btn-flat" [disabled]="form1.invalid" (click)="login()">Sign
            In</button>
        </div>
        <!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <i>Developed by <a href="#" class="text-center">Nakoding</a></i>
    </div>
    <!-- /.login-box-body -->
  </div>
</div>
