<!-- head grid -->
<div class="row">
  <!-- <div class="col-md-12">
    <div class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-md-1">Criteria</label>
        <div class="col-md-2">
          <select name="selectCriteria" class="form-control" [(ngModel)]="criteria">
            <option *ngFor="let c of columns" [value]="c.field">{{c.text}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" [(ngModel)]="value" (keyup.enter)="search()">
        </div>
        <div class="col-md-1">
          <button type="button" class="btn btn-primary" (click)="search()">
            <i class="glyphicon glyphicon-search"></i>
            Search
          </button>
        </div>
      </div>
    </div>
  </div> -->
</div>
<div class="row">
  <div class="col-md-12">
    <div *ngFor="let c of this.option.criteria">
      Find '{{c.criteria}}' Contain '{{c.value}}'
      <a class="text-danger" style="cursor: pointer; text-decoration: none;" (click)="remove(c)">Remove
        <i class="glyphicon glyphicon-remove"></i></a>
    </div>
  </div>
</div>

<!-- body grid -->
<div class="row">
  <div class="col-md-12">
    <div style="overflow-x: scroll">
      <table class="table table-hover">
        <thead>
          <tr>
            <th [hidden]="!actions.view && !actions.edit && !actions.delete && !actions.maps">Action</th>
            <th *ngFor="let c of columns" (click)="sort(c.field)" [style.color]="c.field == option.order.column ? '#337ab7' : '#333'">
              <i class="glyphicon glyphicon-sort" [class.glyphicon-sort-by-attributes]="option.order.column == c.field && option.order.direction == 'ASC'"
                [class.glyphicon-sort-by-attributes-alt]="option.order.column == c.field && option.order.direction == 'DESC'"
                [style.opacity]="option.order.column == c.field ? 0.8 : 0.4"></i>
              {{c.text}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let r of data.rows">
            <td [hidden]="!actions.view && !actions.edit && !actions.delete && !actions.maps">
              <a (click)="viewInvoke(r)" *ngIf="actions.view" class="text-info" style="margin-right:3px;"><i class="glyphicon glyphicon-search"></i></a>
              <a (click)="editInvoke(r)" *ngIf="actions.edit" class="text-success" style="margin-right:3px;"><i class="glyphicon glyphicon-edit"></i></a>
              <a (click)="deleteInvoke(r)" *ngIf="actions.delete" class="text-danger" style="margin-right:3px;"><i
                  class="glyphicon glyphicon-remove"></i></a>
              <a (click)="selectInvoke(r)" *ngIf="actions.select" class="text-primary" style="margin-right:3px;"><i
                  class="glyphicon glyphicon-ok"></i></a>
              <a href="https://www.google.com/maps/?q={{r['Latitude']}},{{r['Longitude']}}" target="_blank" *ngIf="actions.maps"
                class="text-danger" style="margin-right:3px;"><i class="glyphicon glyphicon-map-marker"></i></a>
            </td>
            <td *ngFor="let c of columns">
              <!-- {{ c.child == null ? r[c.field] : r[c.field][c.child] }} -->
              <p [innerHTML]="c.child == null ? r[c.field] : r[c.field][c.child]"></p>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- footer grid -->
<div class="row" style="margin-top: 5px;">
  <div class="col-md-6">
    <strong>Total Rows : {{data.rowCount}}</strong>
  </div>
  <div class="col-md-6" style="text-align: right">
    <strong>Page Size</strong>
    <select class="paging-control" (change)="displayData()" [(ngModel)]="option.pageSize">
      <option *ngFor="let p of [5,10,25,50,100]" [value]="p">{{p}}</option>
    </select>
    <strong>Page</strong>
    <input (keyup)="displayData()" type="number" class="paging-control" [(ngModel)]="option.page" maxlength="data.pageCount">
    <strong>/ {{data.pageCount}}</strong>
    <button [disabled]="option.page == 1" (click)="prev()" class="btn btn-default btn-sm" style="margin-left: 5px;">Prev</button>
    <button [disabled]="option.page == data.pageCount" (click)="next()" class="btn btn-default btn-sm" style="margin-left: 5px;">Next</button>
  </div>
</div>
