<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Home
    </h1>
    <ol class="breadcrumb">
      <li class="active">Home</li>
    </ol>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">

      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-red">
          <div class="inner">
            <h3>{{ usersData }}</h3>

            <p>Total Workers</p>
          </div>
          <div class="icon">
            <i class="fa fa-user"></i>
          </div>
          <a href="../#/pages/users" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>

      <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>{{ tracksData }}</h3>
  
              <p>Total Tracks</p>
            </div>
            <div class="icon">
              <i class="fa fa-map"></i>
            </div>
            <a href="../#/pages/tracks" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>

    </div>
    <!-- /.row -->

  </section>
  <!-- /.content -->
</div>
