/* You can add global styles to this file, and also import other style files */
.login-page2 {
    background-image: url('./assets/img/ppsu/bg-chair.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* You can add global styles to this file, and also import other style files */
.table {
    cursor: pointer;
}

.table tr th{
    cursor: pointer;
}

.table tr th{
    min-width: 150px;
}

.table tr td a{
    cursor: pointer;
}

.table tr td, table.table tr th{
    white-space: nowrap;
}

.table th i {
    float: right;
    opacity: 0.4;
}

.paging-control {
    margin: 0 10px;
    padding: 2px 4px;
    border: 1px solid #ddd;
    border-radius: 3px;
    width: 60px;
}

